{{> head}}

<div class="container">
  <div class="row">
    <div class="col-8">
      <h4 class="text-center mt-5">Os dados do seu banco de dados estarão visíveis na tabela abaixo:</h4>
    </div>
    <div class="col-4">
      <button class="btn btn-success mt-5" type="button">SINCRONIZAR DADOS</button>
    </div>
  </div>

  <div class="row">
    <section class="mt-5 col-12">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">código</th>
            <th scope="col">descrição produto</th>
            <th scope="col">preço produto</th>
            <th scope="col">estoque produto</th>
          </tr>
        </thead>
        <tbody>
          {{#each datas}}
          <tr>
            <th scope="row">{{ codigo }}</th>
            <td>{{ descricao }}</td>
            <td>{{ preco }}</td>
            <td>{{ estoque }}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      
    </section>
  </div>

</div>

{{> footer}}